

*{
  margin: 0;
}
#header ul{
  display: flex;
  float: right;
}
#header li{
  margin: 30px;
  list-style: none;
}
#header a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#hero{
  height: 35rem;
  width: 90rem;
  background-color: #400106;
}
body{
  background-color: #e9dcb1;
  overflow-x: hidden;
}